version: 0.30.11.{build}
image: Visual Studio 2017


environment:
  matrix:
    #- PlatformToolset: v142
    - PlatformToolset: v141_xp

platform:
    - x64
    - Win32

configuration:
    - Release
    #- Debug

install:
    - if "%platform%"=="x64" set archi=amd64
    - if "%platform%"=="x64" set platform_input=x64

    - if "%platform%"=="Win32" set archi=x86
    - if "%platform%"=="Win32" set platform_input=Win32

    - if "%PlatformToolset%"=="v142"    call "C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Auxiliary\Build\vcvarsall.bat" %archi%
    - if "%PlatformToolset%"=="v141_xp" call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvarsall.bat" %archi%

before_build:
- ps: |
    Write-Output "Configuration: $env:CONFIGURATION"
    Write-Output "Platform: $env:PLATFORM_INPUT"
    $generator = switch ($env:PLATFORMTOOLSET)
    {
        "v142"    {"Visual Studio 16 2019"}
        "v141_xp" {"Visual Studio 15 2017"}
        "v140_xp" {"Visual Studio 14 2015"}
        "v120_xp" {"Visual Studio 12 2013"}
    }
    if ($env:PLATFORM_INPUT -eq "x64")
    {
        $generator = "$generator Win64"
    }

build_script:
    - cd "%APPVEYOR_BUILD_FOLDER%"
    # Python 3 needed for python build_3rdparty.py
    - set PATH=C:\Python38-x64;C:\Python38-x64\Scripts;%PATH%
    - mkdir _build
    - cd _build

    - ps: |
        cmake -G "$generator" -T "$env:PLATFORMTOOLSET" ..
        if ($LastExitCode -ne 0) {
            throw "Exec: $ErrorMessage"
        }
        & cmake --build . --config $env:CONFIGURATION -- /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
        if ($LastExitCode -ne 0) {
            throw "Exec: $ErrorMessage"
        }

after_build:
    - cd "%APPVEYOR_BUILD_FOLDER%"
    - ps: >-

        if ($env:CONFIGURATION -eq "Release") {
            Push-AppveyorArtifact "_build\Release\NppFTP.dll" -FileName "NppFTP.dll"
        }
